@import "_variables";

header {
  padding-top: 15px;
  margin-bottom: 40px;
  background-color: #546E7A;

  .content {
    height: 100%;
  }

  .page-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo-header {
    position: relative;
    width: 155px;
    height: 140px;

    a {
      left: 0;
      display: block;

      img {
        width: 100%;
        height: auto;
      }
    }

    @include mobile {
      width: 100%;
      height: 125px;

      img {
        width: 50%;
        height: auto;
      }
    }

  }


  @media (max-width: 768px) {
    margin: 0;
  }

  h1 {
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 46px;
  }

  p {
    text-align: left;
    color: #fff;
    font-size: 16px;
  }

  @include mobile {
    h1 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }
  }
  
}
