
@charset "UTF-8";

// base =================================================================

$path-fonts-fontawesome: "../assets/fonts/font-awesome-4/";
$font-default: 'Red Hat Display', sans-serif;
$path-images: "../assets/images";

$font-size-base: 16px;
$font-size-middle: 14px;
$font-size-small: 12px;

$font-weight-light: 100 !default;
$font-weight-normal:  normal !default;
$font-weight-middle:  300 !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

//colors =================================================================

$black:#000;
$white:#fff;

$blue: #01377d; 
//$blue-over:#0b42bd;
$blue-over:#0020c4;
$blue-link:#0039ba;
$blue-ligth: #4187d7;

$gray: #546E7A;
$gray-middle: #4a4a4a;
$gray-dark: #455A64;
$gray-regular: #7e7e7e;
$gray-light:#f5f6fa;

$red:#c02f4e;
$orange: #ff6c00;


// medias =================================================================

$tablet-width : 768px;
$desktop-width : 1024px;
$desktop-large: 1200px;

$mobile-min-width-320:320px;
$mobile-min-width-360:360px;
$mobile-min-width-375:375px;
$mobile-min-width-411:411px;
$mobile-min-width-414:414px;

$mobile-max-width : 767px;


// Mixins =================================================================


// Clear
@mixin clearfix() {
    &::after {
      display: block;
      clear: both;
      content: "";
    }
}

// Lists
@mixin list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}


@mixin tablet ($orientation : '')
{
    @if $orientation{
        @if $orientation == 'portrait' {
            @media (min-width : #{$tablet-width} ) and (max-width : #{$desktop-width - 1px}) and (orientation: $orientation)
            {
                @content;
            }
        }
        @else if $orientation == 'landscape'{
            @media (min-width : #{$tablet-width} ) and (max-width : #{$desktop-width - 1px}) and (orientation: $orientation)
            {
                @content;
            }
        }
        @else {
            @media (min-width : #{$tablet-width} ) and (max-width : #{$desktop-width - 1px})
            {
                @content;
            }
        }
    }
}

@mixin desktop{
    @media ( min-width: #{$desktop-width} ) {
        @content;
    }
}

@mixin min-tablet{
    @media ( min-width: #{$tablet-width} ){
        @content;
    }
}

@mixin max-tablet{
    @media ( max-width: 1024px ) {
        @content;
    }
}


@mixin mobile{
    @media ( max-width: #{$mobile-max-width} ) {
        @content;
    }
}

@mixin mobile-min-320{
    @media ( min-width: #{$mobile-min-width-320} ) {
        @content;
    }
}
@mixin mobile-min-360{
    @media ( min-width: #{$mobile-min-width-360} ) {
        @content;
    }
}

@mixin mobile-min-375{
    @media ( min-width: #{$mobile-min-width-375} ) {
        @content;
    }
}

@mixin mobile-min-411{
    @media ( min-width: #{$mobile-min-width-411} ) {
        @content;
    }
}

@mixin mobile-min-414{
    @media ( min-width: #{$mobile-min-width-414} ) {
        @content;
    }
}

